/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include <behaviors/unicode.dtsi>
#include <zmk-unicode/keys-extra.h> 

#define DEF      0
#define FN       1
#define SYM      2

/ {
    keymap {
        compatible = "zmk,keymap";

        def {
            bindings = <
    &kp TAB         &kp Q       &kp W     &kp F     &kp P     &kp B      &kp J        &kp L     &kp U      &kp Y     &kp A  &kp B
    &kp ESC         &kp A       &kp R     &kp S     &kp T     &kp G      &kp M        &kp N     &kp E      &kp I     &kp O      &kp C
    &kp RET         &kp Z       &kp X     &kp C     &kp D     &kp V      &kp K        &kp H     &kp COMMA  &kp DOT   &kp FSLH   &kp D
    &kp LG(LS(SPC)) &kp LG(SPC) &kp LALT  &kp LCTL  &kp LSFT  &lt FN SPC &lt SYM BSPC &kp LMETA &kp RALT   &kp INS   &kp C_MENU &none
            >;
        };

        fn {
            bindings = <
    &kp F1    &kp F2        &kp F3   &kp F4    &kp F5       &kp F6       &kp F7     &kp F8      &kp F9    &kp F10   &kp F11      &kp F12
    &none     &kp C_AC_ZOOM &kp RET  &kp ESC   &kp TAB      &none        &kp LEFT   &kp DOWN    &kp UP    &kp RIGHT &kp C_VOL_UP &kp C_VOL_DN
    &none     &kp PSCRN     &none    &kp CAPS  &kp C_BRI_DN &kp C_BRI_UP &kp HOME   &kp PG_DN   &kp PG_UP &kp END   &kp C_MUTE   &kp C_PP
    &none     &none         &none    &none     &none        &none        &none      &none       &none     &none     &none        &none
            >;
        };

        sym {
            bindings = <
    &uc UC_GRAVE_ACCENT &uc UC_COMMERCIAL_AT &kp N7  &kp N8  &kp N9    &uc UC_PLUS_SIGN     &uc UC_ASTERISK   &uc UC_AMPERSAND     &uc UC_DOLLAR_SIGN      &uc 0x5B 0x7B          &uc 0x5D 0x7D  &uc UC_EQUALS_SIGN
    &uc UC_TILDE        &uc UC_NUMBER_SIGN   &kp N4  &kp N5  &kp N6    &uc UC_HYPHEN_MINUS &uc 0x2014 0x2013 &uc UC_QUESTION_MARK &uc UC_EXCLAMATION_MARK &uc 0x28 0xAB          &uc 0x29 0xBB  &uc UC_QUOTATION_MARK
    &uc UC_APOSTROPHE   &uc UC_PERCENT_SIGN  &kp N1  &kp N2  &kp N3    &kp N0              &uc UC_LOW_LINE   &uc UC_SEMICOLON     &uc UC_COLON            &uc UC_REVERSE_SOLIDUS &uc UC_SOLIDUS &uc UC_VERTICAL_LINE
    &none               &none                &none   &none   &kp LSFT  &kp SPC      &none             &none                &none                   &none                  &none          &none
            >;
        };
    };
};
