/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include <behaviors/unicode.dtsi>
#include <zmk-unicode/keys-extra.h> 

#define DEF      0
#define FN       1
#define SYM      2

/ {
    behaviors {
        cs: custom_shift {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            display-name = "Custom shift";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        def {
            bindings = <
    &kp TAB         &kp Q       &kp W     &kp F     &kp P     &kp B      &kp J        &kp L     &kp U      &kp Y     &kp MINUS  &kp EQUAL
    &kp ESC         &kp A       &kp R     &kp S     &kp T     &kp G      &kp M        &kp N     &kp E      &kp I     &kp O      &kp SQT
    &kp RET         &kp Z       &kp X     &kp C     &kp D     &kp V      &kp K        &kp H     &kp CMMA   &kp DOT   &kp FSLH   &kp SEMI
    &kp LG(LS(SPC)) &kp LG(SPC) &kp LALT  &kp LCTL  &kp LSFT  &lt FN SPC &lt SYM BSPC &kp RALT  &kp LMETA  &kp INS   &kp C_MENU &none
            >;
        };

        fn {
            bindings = <
    &kp F1    &kp F2        &kp F3   &kp F4    &kp F5       &kp F6       &kp F7     &kp F8      &kp F9    &kp F10   &kp F11      &kp F12
    &none     &kp C_AC_ZOOM &kp RET  &kp ESC   &kp TAB      &none        &kp LEFT   &kp DOWN    &kp UP    &kp RIGHT &kp C_VOL_UP &kp C_VOL_DN
    &none     &kp PSCRN     &none    &kp CAPS  &kp C_BRI_DN &kp C_BRI_UP &kp HOME   &kp PG_DN   &kp PG_UP &kp END   &kp C_MUTE   &kp C_PP
    &none     &none         &none    &none     &none        &none        &none      &none       &none     &none     &none        &none
            >;
        };

        default_layer {
            bindings = <
    &uc UC_GRAVE_ACCENT 0 &uc UC_COMMERCIAL_AT 0     &kp N7  &kp N8  &kp N9    &uc UC_PLUS 0  &uc UC_ASTERISK 0         &uc UC_AMPERSAND 0     &uc UC_DOLLAR_SIGN 0      &uc UC_LEFT_SQUARE_BRACKET UC_LEFT_CURLY_BRACKET                     &uc UC_RIGHT_SQUARE_BRACKET UC_RIGHT_CURLY_BRACKET                     &uc UC_EQUALS_SIGN 0
    &uc UC_TILDE 0        &uc UC_NUMBER_SIGN 0       &kp N4  &kp N5  &kp N6    &uc UC_MINUS 0 &uc UC_EM_DASH UC_EN_DASH &uc UC_QUESTION_MARK 0 &uc UC_EXCLAMATION_MARK 0 &uc UC_LEFT_PARENTHESIS UC_LEFT_POINTING_DOUBLE_ANGLE_QUOTATION_MARK &uc UC_RIGHT_PARENTHESIS UC_RIGHT_POINTING_DOUBLE_ANGLE_QUOTATION_MARK &uc UC_QUOTATION_MARK 0
    &uc UC_DEGREE_SIGN 0  &uc UC_PERCENT_SIGN 0      &kp N1  &kp N2  &kp N3    &kp N0 0       &uc UC_LOW_LINE 0         &uc UC_SEMICOLON 0     &uc UC_COLON 0            &uc UC_REVERSE_SOLIDUS 0                                             &uc UC_SOLIDUS 0                                                       &uc UC_VERTICAL_LINE 0
    &none                 &none                      &none   &none   &kp LSFT  &kp SPC        &none                     &none                  &none                     &none                                                                &none                                                                  &none
            >;
        };
    };
};
